<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <%= products[0] %>
    <% for(var i=0; i<products.length; i++) { %>
    	<p>name: <%= products[i].name %></p>
    	<p>description: <%= products[i].description %></p>
    	<p>Price: <%= products[i].price %></p>
    <% } %>	
  </body>
</html>
